In [ ]:
!pip3 install tweepy --upgrade

Requirement already satisfied: tweepy in /usr/local/lib/python3.7/dist-packages (4.9.0)
Requirement already satisfied: requests<3,>=2.27.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (2.27.1)
Requirement already satisfied: oauthlib<4,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (3.2.0)
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.3.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy) (1.24.3)

In [ ]:
import tweepy
import pandas as pd

In [ ]:
BEARER_TOKEN = 'YOUR BEARER TOKEN GOES HERE!'

In [ ]:
client = tweepy.Client(bearer_token=BEARER_TOKEN)

In [ ]:
results_df = pd.DataFrame()

In [ ]:
# get list of tweet ids from file, store in 'ids' list

corpusFile = '/content/normal.txt'
ids = []
with open(corpusFile, 'r') as f:
    for line in f:
        line = line.rstrip()
        if line:
            ids.append(line)

In [ ]:
# loop over indices of 'ids', retrieve tweets and append them to results_df dataframe

# set current_start to 0 
current_start = 0
current_end = current_start + 99

In [ ]:
while current_end < len(ids):
  tweets = client.get_tweets(ids=ids[current_start:current_end])
  results_df = results_df.append(pd.DataFrame([tweet.text for tweet in tweets.data], columns=['tweet']), ignore_index=True)
  current_start += 100
  current_end = current_start + 99

In [ ]:
# when cap is hit, wait 15 mins and launch while loop again

In [ ]:
current_start

50000

In [ ]:
len(results_df)

31752

In [ ]:
import re

In [ ]:
# remove sarcasm hashtags from tweets
for index, row in results_df.iterrows():
  results_df.at[index, 'tweet'] = re.sub(r'#sarcasm|#Sarcasm|#SARCASM|#sarcastictweet|#sarcastic|#SarcasticTweet|#SARCAsM|#SArCasm|#Sarcastic', '', row['tweet'])

In [ ]:
results_df['label'] = 0

In [ ]:
results_df

                                                   tweet  label
0      @ChrisGreenBean I thought you speak about a gu...      0
1      fancis moves into a different plane at age 32 ...      0
2      Elmer http://t.co/u8nP9vqu3Z via @comiXology O...      0
3      [needrestart] https://t.co/HlZA2TDymo Thomas L...      0
4      Webinar with Landatel for Spanish customers - ...      0
...                                                  ...    ...
31747  @blingyeol we should! That'd be awesome :'3 I ...      0
31748  The Polaroid iM1836 copycat camera is now gone...      0
31749  Woke up around 9, 20 min later smoke like is t...      0
31750  Czech glass beads handmade shamballa bracelet ...      0
31751  My small christmas tree #christmas #navidad #t...      0

[31752 rows x 2 columns]

In [ ]:
results_df.to_csv('negative_all.csv')